/*

Pre-tailwind compiled styles;
Outputs to /styles.css, for Obsidian to use.

*/

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.text-faint {
	color: var(--text-faint);
}

.text-error {
	color: var(--text-error);
}

/* Hide the last hr in the Matrix View */
.BC-matrix-view hr:last-child {
	display: none;
}
